.side
  .side__header
    .side__header__box
      .side__header__box--name
        = current_user.name
      =link_to edit_user_path(current_user) , class: "side__header__box--icon1" do
        = fa_icon 'cog'
      =link_to new_group_path , class: "side__header__box--icon2" do
        = fa_icon 'edit'
  .side__bottom
    .side__bottom__box
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side__bottom__box--name
            = group.name
          .side__bottom__box--latestmessage
            = group.show_last_message
