.wrapper

  = render 'messages/side'

.main
  .main__header
    .main__header__box
      .main__header__box--group
        = @group.name
      .main__header__box--member
        Member: 
        - @group.users.each do |users| 
          = users.name
  = link_to edit_group_path(@group) do
    .main__header__btn
      Edit
  .main__chat
    = render @messages
  .main__form
    .main__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__form__box__box', placeholder: 'type a message' 
        = f.label :image, class: 'main__form__box__box__icon3' do
          = fa_icon 'picture-o' 
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main__form__box__btn'


